*.zip
*.exe
*.dll
*.exp
*.ilk
*.obj
**src/core/*.lib
**src/modules/**/*.lib
**tools/**/*.lib
lib/*.lib
*.pdb
*.res
*.a
*.o
.vscode/*.*
setup/install.wlua
setup/uninstall.wlua
bin/*.*
